.venv/
.env
.DS_Store
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/*
.idea/misc.xml

data/temp.py
data/boats.csv
*.iml

.idea/misc.xml
.idea/gve_devnet_meraki_seamless_sea_ssid.iml
data/temp.json
data/temp.py
data/test.csv
data/webhook.json
*.log
